@{
    // Layout = null;
    Layout = "~/Views/Shared/Layouts/_FormLayout.cshtml";
}


<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <img src="~/img/icon/login.png" class="login-icon" alt="" width="80" />
                        <p>APPLICANT LOGIN</p>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="~/img/login.svg" alt="Login" width="300" />
                        </div>
                        <div class="col-md-7">
                            <div class="justify-content-center ps-5 pe-5 pb-5">
                                <div class="d-flex mb-3 mt-2">
                                    <span class="fa fa-user form-icon"> </span>
                                    <input type="text" class="form-control form-select-lg form-set formtxt" placeholder="Email" />
                                </div>
                                <div class="d-flex mb-2">
                                    <span class="fa fa-key form-icon"> </span>
                                    <input type="password" class="form-control form-select-lg form-set formtxt" placeholder="password" />
                                </div>
                                <div>
                                    <p style="font-style:italic;font-size:13px;">
                                        <a href="#">Forgot Password</a>
                                    </p>
                                </div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-success" value="Login">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>